body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 1rem;
  /* dark, neutral bg */
  background-color: #1a1a1a;
}

body > header {
  margin: 12rem 0 3rem 0;
}
hgroup.hero {
  text-align: center;
  color: #f2f2f2;
}

hgroup.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

hgroup.hero p {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.landing article {
  box-shadow: 10px 10px 3px #3b3f42;
}
