<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='reset.css') }}"
    />
    <title>Web Component Example: Business Card</title>
    {% include 'business_card/index.html' %}
  </head>
  <body>
    <business-card>
      <img
        src="{{ url_for('static', filename='dne.jpeg')}}"
        alt=""
        width="300"
        slot="avatar"
      />
      <span slot="full_name">Jane Doe</span>
      <span slot="job_title">Software Engineer</span>
      <span slot="company_name">FOO BAZ, LLC.</span>
      <img
        src="{{ url_for('static', filename='liqr.png')}}"
        alt=""
        width="100%"
        slot="linkedin_qr"
      />
    </business-card>
  </body>
</html>
